# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# DATABASE_URL="file:./db.sqlite"

# pdf下载方式 true 使用本地接口生成 false使用远程地址下载
NEXT_PUBLIC_PDF_LOCAL=false

# Puppeteer配置
# CHROME_PATH='/usr/bin/chromium'
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true

POSTGRES_URL="postgres://8581370207cdeb2f0278a3ae8a53cb6361bda2d65dd1a4a3dea70f7046db2714:sk_T0T4CXbx4cmamGFQ_eYt3@db.prisma.io:5432/postgres?sslmode=require"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19UMFQ0Q1hieDRjbWFtR0ZRX2VZdDMiLCJhcGlfa2V5IjoiMDFLODdXU0hYRUNRN1dGMEZaREJLSzA5TTkiLCJ0ZW5hbnRfaWQiOiI4NTgxMzcwMjA3Y2RlYjJmMDI3OGEzYWU4YTUzY2I2MzYxYmRhMmQ2NWRkMWE0YTNkZWE3MGY3MDQ2ZGIyNzE0IiwiaW50ZXJuYWxfc2VjcmV0IjoiZmUwNDFmY2EtYzU2ZC00YTBlLWJkMmQtYzcwMzA1Nzg3N2FkIn0.hbeHGwTocW0B2AAgJsP4wrpNCZW5lExBBvBG-j7THco"
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19RNERPdVczSDNqNUlrYTF4YlJmRF8iLCJhcGlfa2V5IjoiMDFLODdYOEVUUUJIMEowNFdDMlpWUVI3UEUiLCJ0ZW5hbnRfaWQiOiI4NTgxMzcwMjA3Y2RlYjJmMDI3OGEzYWU4YTUzY2I2MzYxYmRhMmQ2NWRkMWE0YTNkZWE3MGY3MDQ2ZGIyNzE0IiwiaW50ZXJuYWxfc2VjcmV0IjoiZmUwNDFmY2EtYzU2ZC00YTBlLWJkMmQtYzcwMzA1Nzg3N2FkIn0.j_YidW1rpIqTQanQXSHjXwdMYUVYkzC2uz91NqnVVZg"