.cv {
  // padding   : 0px;
  // margin    : 0;
  box-sizing: border-box;

  // background-color: #7FFFD4;
  @media screen and (min-width: 776px) {
    max-width: 800px;
    margin: auto;
  }

  @media screen and (max-width: 775px) {
    width: 100%;
    // margin: auto;
  }

  .page {
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    color: #3f1c1c;
    font-size: 14px;

    h1 {
      margin-bottom: 20px !important;
      margin-left: -20px;
      padding-left: 15px;
      border-left: 5px solid #e38fa9;
      text-align: left;
    }

    blockquote {
      border-left: 3px solid #ccc;
      background: #efefef;
      padding-left: 15px;
      margin-left: 0px;
    }

    code {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 120%;
      background-color: pink;
      border-radius: 5px;
      margin: auto;
      font-size: 0.8rem;
      color: white;
    }
    hr {
      color: #948c76;
    }
  }
}

.fixed-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 99;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  color: #787978;
  text-align: center;
  line-height: 45px;
  position: fixed;
  right: 10%;
  cursor: pointer;
}

.download {
  bottom: 20%;
  font-size: 30px;
  transition: all 0.3s;
}

.go-top {
  bottom: 10%;
  animation: show 0.3s linear;

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .text {
    font-size: 30px;
    animation: rotate 0.3s linear;

    @keyframes rotate {
      from {
        transform: rotate(-360deg);
      }

      to {
        transform: rotate(0deg);
      }
    }
  }
}

.loading-dots {
  transform: scale(0.8);
  cursor: wait;
  background-color: #e6eaed;
  &::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 10px;
    animation: dotLoader 1.5s infinite steps(4);
  }

  @keyframes dotLoader {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    99% {
      content: "...";
    }
  }
}
