* {
  box-sizing: border-box;
}

body {
  font-family: "Maple Mono CN SemiBold";
  font-weight: "400";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/images/bg.jpg") repeat;
  position: relative;
  padding-top: 50px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #948c76;
  display: inline-block;

  &:hover {
    color: #948c76;
    text-decoration: underline;
  }
}

@keyframes showHeader {
  0% {
    transform: translateY(-5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-container {
  @media screen and (min-width: 776px) {
    max-width: 800px;
    margin: auto;
  }

  @media screen and (max-width: 775px) {
    width: 100%;
    margin: auto;
  }

  .logo {
    .img {
      width: 120px;
      height: 100%;
      border-radius: 50%;
      margin: auto;
    }

    width: 100%;
    height: 120px;
    animation: showHeader 0.3s;
  }

  .text {
    width: 100%;
    height: 120px;
    text-align: center;

    .name {
      font-size: 1.3em;
      font-weight: 400;
      padding: 0 0.5em;
      letter-spacing: 0.1em;
      line-height: 2em;
      margin: 2em 0;
      display: inline-block;
      color: #948c76;
      background: #fdf4e8;
    }
  }

  .nav {
    text-align: center;
    margin-bottom: 2em;

    a {
      margin: 0 1em;
      font-size: 0.8em;
    }

    .active {
      text-decoration: underline;
    }
  }
}
